* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* common color style here */
.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    font-size: 20px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 10px;
}


/* header navigation style here */
.headerbg {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin-bottom: 130px;
    height: 800px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 30px;
}

nav ul a {
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

}

.nav-title {
    font-size: 45px;
    font-weight: 600;
}

/* header banner styles here */
.banner {
    display: flex;
    align-items: center;
    margin: 0 150px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 20px;
}

.banner-sologan {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-contact {
    color: #FD6E0A;
    font-size: 20px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
}

.mary {
    height: 745px;
}

/* about section style here */
main {
    margin: 0 auto;
    width: 1140px;
}

.about {

    background-color: #FFF8F3;
    padding: 130px 150px;

}

.section-header {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.about-info {
    display: flex;

}

.info {
    margin-right: 40px;
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
    margin-bottom: 5px;
}

.info-sub-title {
    font-weight: 700;
    font-size: 20px;
}

/* What I Do section style here */
.Ido {
    margin-top: 130px;
    padding: 0 130px;
    text-align: center;
}

.Ido-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.Ido-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 50px;
}

/* course list style start here */
.course-list {
    display: flex;

}

.course {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin: 0 12px;
    padding-left: 30px;
}

.course-images {
    padding: 30px 0;

}

.course-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.course-description {
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}

/* A summary of My Resume style start here */
.Resume-header {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-top: 130PX;
    margin-bottom: 110px;
}

.Resume {
    display: flex;
    gap: 70px;
}

.My-education {
    color: #474747;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.subject-name {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.University {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.Education-description {
    color: #757575;
    line-height: 28px;
}

hr {
    margin: 30px 0;
    border: 1px solid #D1D1D1;
}

.cb-btn {
    align-items: center;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: -70px;
}

/* ---- fotter part style here */
.fotter-part {
    display: flex;
    background: #FFF8F3;
    gap: 120px;
    padding: 130px 230px;
}

.fotter-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.contact-description {
    color: #474747;
    line-height: 25px;
    margin-bottom: 30px;
}

.social-icon {
    margin-right: 24px
}

.User-input {
    width: 461px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 24px;
    padding-left: 30px;
    border: none;
}

.text-height {
    height: 180px;
    padding-top: 18px;
}